.order {
  position: relative;
  padding: 0 1.71rem;
  display: flex;
  align-items: center;
  gap: 1.14rem;

  @media (max-width: 35rem) {
    flex-direction: column;
    align-items: start;
  }

  @media (max-width: 25rem) {
    flex-direction: column;
    align-items: center;
  }

  &-price {
    font-size: 2.57rem;
    color: var(--secondPrimaryColor);
  }

  &-button>button {
    padding: 0.1rem 1.43rem;
    font-size: 1.71rem;
    line-height: 2.71rem;
    border: none;
    border-radius: 0.71rem;
    color: var(--basicWhiteColor);
    background-color: var(--secondPrimaryColor);
  }

  &-button>button:hover {
    background-color: var(--hoverColor);
  }

  &-button>button:focus-visible {
    outline: none;
    background-color: var(--hoverColor);
  }

  &-button>button:active {
    outline: 0.14rem solid var(--secondPrimaryColor);
    color: var(--secondPrimaryColor);
    background-color: var(--basicWhiteColor);
  }

  &-favorite {
    @media (max-width: 35rem) {
      position: absolute;
      top: 0.71rem;
      right: 0;
    }
  }
}

.counter {
  display: flex;
  font-size: 1.71rem;
  line-height: 2.71rem;
  transition: color 0.1s ease-in-out;

  &>button>svg {
    padding: 0.35rem;
    transform: translateY(0.1rem);
  }

  &>button {
    color: var(--secondPrimaryColor);
    border: 0.1rem solid var(--basicDarkColor);

    &:disabled {
      color: var(--basicGreyColor);
      pointer-events: none;
      cursor: default;
    }
  }

  &>button:hover {
    color: var(--basicWhiteColor);
    background-color: var(--hoverColor);
  }

  &>button:focus {
    outline: none;
    color: var(--basicWhiteColor);
    background-color: var(--hoverColor);
  }

  &>button:active {
    color: var(--basicWhiteColor);
    background-color: var(--secondPrimaryColor);
  }
}

.count {
  padding: 0 3.71rem;
  text-align: center;
  border: 0.1rem solid var(--basicDarkColor);

  @media (max-width: 62.14rem) {
    padding: 0 1.57rem;
  }
}