header {
  display: flex;
  padding: 1.14rem 1.71rem 1.71rem;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  border-bottom: 0.14rem solid transparent;
  transition: color 0.1s ease-in-out, border-bottom 0.1s ease-in-out;

  &:focus-within {
    border-bottom: 0.14rem solid var(--secondPrimaryColor);
    color: var(--secondPrimaryColor);
  }

  &:hover {
    color: var(--secondPrimaryColor);
  }

  &__icon {
    padding: 0.57rem;
  }

  &>input {
    border: none;

    @media (max-width: 25rem) {
      width: 9.1rem;
    }
  }

  &>input::placeholder {
    color: var(--basicDarkColor);
  }

  &>input:focus {
    outline: none;
  }

  &>input:focus::placeholder {
    color: transparent;
  }
}

.account {
  display: flex;
  align-items: center;
  margin-right: -0.57rem;

  &>button {
    border-radius: 0.71rem;
    transition: color 0.1s ease-in-out;
  }

  &>button:hover {
    color: var(--secondPrimaryColor);
  }

  &>button:focus {
    outline: none;
    color: var(--secondPrimaryColor);
  }

  &-icon {
    padding: 0.57rem;
    transform: translateY(0.14rem);
  }
}