:root {
  --basicBlackColor: #000000;
  --basicWhiteColor: #ffffff;
  --basicDarkColor: #323232;
  --basicGreyColor: #959595;
  --basicLightGreyColor: #f2f2f2;
  --basicDarkGreyColor: #545454;
  --shadowDarkColor: #00000026;
  --secondPrimaryColor: #e97f03;
  --hoverColor: #fbb667;
  --grayColor: #afb3b9;
}

html {
  font-size: 0.875rem;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif, Arial;
  color: var(--basicDarkColor);
}

h1,
h2,
h3 {
  margin: 0;
}